{% extends "base.html" %}
{% block content %}

  
<img src="https://i.postimg.cc/rFYVTRnN/yellow-traffic-sign-set-isolated-white-background-97458-258.jpg" 
alt="" style="width: 30%; height:30%">

<!-- ==== Upload and Predict ==== -->
<div>
    <form id="upload-form" method="post" action="/predict" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">Choose an image:</label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" required>
        <br><br>
        <button type="submit" class="btn btn-primary">Predict!</button>
    </form>

    {% if result %}
    <h3 style="margin-top: 20px;">Prediction: <span style="color:blue">{{ result }}</span></h3>
    {% endif %}
</div>

<hr>

<!-- ==== Live Prediction ==== -->
<div>
    <h4>Or try live webcam prediction:</h4>
    <a href="/video" class="btn btn-success">Start Live Prediction</a>
</div>
<!-- <div style="margin-top: 20px;">
    <a href="{{ url_for('stop') }}" class="btn btn-danger btn-lg">Stop Prediction</a>
</div> -->


{% endblock %}
